.icon-class-sentinel { background-position: -902px 0px; }
    .icon-fearless { background-position: -1690px -518px; }
    .icon-armour-clad { background-position: -1495px -1623px; }
    .icon-juggernaut { background-position: -2260px -648px; }
    .icon-time-and-faith { background-position: -1355px -2208px; }

.icon-class-void-knight { background-position: -1288px 0px; }
    .icon-temporal-corruption { background-position: -585px -388px; }
    .icon-world-eater { background-position: -975px -1103px; }
    .icon-void-bolts { background-position: -1365px -323px; }
    .icon-void-corruption { background-position: -1235px -1753px; }
    .icon-abyssal-endurance { background-position: -910px -1623px; }
    .icon-renouncement { background-position: -65px -1233px; }
    .icon-echoing-strikes { background-position: -1170px -1233px; }
    .icon-eternal-form { background-position: -975px -2143px; }
    .icon-time-legion { background-position: -1820px -323px; }
    .icon-avatar-of-regret { background-position: -1365px -1233px; }
    .icon-future-strike { background-position: -910px -1233px; }
    .icon-dread { background-position: -1755px -2143px; }

.icon-class-paladin { background-position: -515px 0px; }
    .icon-defiance { background-position: -195px -778px; }

.icon-anomaly { background-position: -1904px -2013px; }
    .icon-void-touched { background-position: -65px -1233px; }
    .icon-immediacy { background-position: -975px -1103px; }
    .icon-time-bubble { background-position: -2260px -648px; }
    .icon-temporal-mastery { background-position: -585px -1363px; }
    .icon-time-lord { background-position: -1820px -1363px; }
    .icon-manipulation { background-position: -1690px -1233px; }
    .icon-time-eater { background-position: -1225px -2208px; }
    .icon-void-maw { background-position: -1495px -258px; }
    .icon-decimation { background-position: -1495px -713px; }
    .icon-swiftrest { background-position: -2145px -1558px; }

.icon-devouring-orb { background-position: -715px -1818px; }
    .icon-abyssal-orb { background-position: -1579px -2013px; }
    .icon-void-rift { background-position: 0 -1948px; }
    .icon-dark-moon { background-position: -325px -1168px; }
    .icon-abyssal-rush { background-position: -1235px -778px; }
    .icon-cosmic-impact { background-position: -1235px -1753px; }
    .icon-extinction { background-position: -585px -388px; }
    .icon-void-adept { background-position: -975px -1103px; }
    .icon-hollow-orb { background-position: -780px -1753px; }
    .icon-abyssal-emission { background-position: -585px -518px; }
    .icon-chaotic-torrent { background-position: -195px -2143px; }
    .icon-distant-satellite { background-position: -2080px -1623px; }
    .icon-sightless-star { background-position: -1690px -973px; }
    .icon-rift-caller { background-position: -1857px -388px; }
    .icon-world-rot { background-position: -1755px -258px; }

.icon-shield-rush { background-position: -65px -1948px; }
    .icon-consuming-path { background-position: -65px -1103px; }
    .icon-dark-rush { background-position: -2080px -1428px; }
    .icon-rush-mastery { background-position: -1170px -648px; }
    .icon-protective-speed { background-position: -845px -1948px; }
    .icon-descent-of-the-void { background-position: 0 -1363px; }
    .icon-dark-regression { background-position: 0 -1363px; }
    .icon-void-breaker { background-position: -1170px -1818px; }
    .icon-warriors-entrance { background-position: -1423px -129px; }

.icon-rebuke { background-position: -2260px -648px; }
    .icon-regenerative-shell { background-position: -279px -2013px; }
    .icon-augmented-plating { background-position: -1495px -1623px; }
    .icon-protective-legacy { background-position: -2202px -1818px; }
    .icon-brave-the-elements { background-position: -455px -1818px; }
    .icon-burst-of-speed { background-position: -1495px -1363px; }
    .icon-solemn-vow { background-position: -910px -973px; }
    .icon-mystic-aegis { background-position: -1365px -258px; }
    .icon-bide { background-position: -845px -1948px; }

.icon-smite { background-position: -1514px -2013px; }
    .icon-pillars-of-light { background-position: -2210px -1103px; }
    .icon-sacrifice { background-position: -1495px -258px; }
    .icon-atonement { background-position: -1950px -1493px; }
    .icon-deep-impact { background-position: -1040px -648px; }
    .icon-holy-fire { background-position: -2080px -1688px; }
    .icon-immolate { background-position: -1430px -778px; }
    .icon-blinding-flash { background-position: -845px -388px; }

.icon-warpath { background-position: -1300px -713px; }
.icon-hammer-throw { background-position: -1235px -1818px; }
.icon-lunge { background-position: -585px -1818px; }
.icon-rive { background-position: -1560px -583px; }
.icon-erasing-strike { background-position: -1105px -583px; }

