.icon-class-mage { background-position: -258px 0; }
    .icon-arcanist { background-position: -130px -1168px; }
    .icon-scholar { background-position: -1495px -1818px; }
    .icon-mage-flurry { background-position: -1355px -2208px; }
    .icon-knowledge-of-destruction { background-position: -390px -973px; }

.icon-class-sorcerer { background-position: -0px -0px; }
    .icon-arcane-momentum { background-position: -1820px -1038px; }
    .icon-essence-of-celerity { background-position: -1365px -973px; }
    .icon-calculated-destruction { background-position: -780px -1363px; }
    .icon-cryomancer { background-position: -260px -2078px; }
    .icon-chill-to-the-bone { background-position: -1040px -1233px; }
    .icon-crackling-precision { background-position: -390px -1103px; }
    .icon-arcane-obliteration { background-position: -325px -973px; }
    .icon-recollection { background-position: -585px -1363px; }
    .icon-archmage { background-position: -2210px -1753px; }
    .icon-mana-shell { background-position: -2080px -1363px; }
    .icon-wisdom { background-position: -455px -1363px; }
    .icon-arcane-insight { background-position: -130px -2078px; }

.icon-class-runemaster { background-position: -774px -129px; }
    .icon-sphere-of-protection { background-position: -585px -258px; }
    .icon-unsealed-mana { background-position: -1170px -1168px; }
    .icon-arcane-focus { background-position: -1755px -1493px; }
    .icon-inscribed-instruments { background-position: -1550px -2078px; }
    .icon-edict-of-the-scion { background-position: -325px -1883px; }

.icon-class-spellblade { background-position: -129px 0; }
    .icon-elemental-affinity { background-position: -325px -453px; }

.icon-glacier { background-position: -1885px -713px; }
    .icon-frost-grip { background-position: -1105px -1493px; }
    .icon-resplendent-frost { background-position: -455px -1103px; }
    .icon-critical-rejuvenation { background-position: -1105px -518px; }
    .icon-cold-victory { background-position: -1170px -648px; }
    .icon-breaking-point { background-position: -455px -1753px; }
    .icon-greater-destruction { background-position: -1839px -2013px; }
    .icon-morditas-bane { background-position: -1820px -1818px; }
    .icon-chilling-force { background-position: -845px -1623px; }
    .icon-greater-chilling { background-position: -1170px -323px; }
    .icon-endless-frost { background-position: -390px -2273px; }

.icon-ice-barrage { background-position: -1690px -1363px; }
    .icon-hail-storm { background-position: -585px -1168px; }
    .icon-cryogenesis { background-position: -975px -1688px; }
    .icon-ice-shield { background-position: -650px -778px; }
    .icon-shattering-bulwark { background-position: -1950px -1038px; }
    .icon-deep-shield { background-position: -1365px -258px; }
    .icon-frost-armor { background-position: -1300px -908px; }
    .icon-biting-cold { background-position: -195px -1363px; }
    .icon-nailed-shot { background-position: -1560px -973px; }
    .icon-sublimation { background-position: 0 -1493px; }

.icon-teleport { background-position: -1105px -518px; }
    .icon-resonant-plasma { background-position: -910px -1298px; }
    .icon-crystaline-passage { background-position: -975px -843px; }
    .icon-time-dilation { background-position: -650px -1818px; }
    .icon-mana-tunnel { background-position: -975px -1038px; }
    .icon-tunnel-finder { background-position: -1365px -258px; }
    .icon-rock-phase { background-position: -455px -1298px; }

.icon-flame-ward { background-position: -0px -1233px; }
    .icon-stalwart-defense { background-position: -2080px -1363px; }
    .icon-desperate-defense { background-position: -585px -258px; }
    .icon-fuel-the-flames { background-position: -130px -2078px; }
    .icon-dual-aegis { background-position: -1987px -388px; }
    .icon-barrier { background-position: -1875px -2078px; }
    .icon-prismatic-buffer { background-position: -975px -1948px; }
    .icon-dilation { background-position: -650px -1818px; }
    .icon-shrewd-shielding { background-position: -975px -1038px; }
    .icon-mental-aegis { background-position: -1365px -1168px; }

.icon-focus { background-position: -1170px -648px; }
    .icon-mana-flooded { background-position: -1365px -1493px; }
    .icon-desperate-meditation { background-position: -845px -1233px; }
    .icon-revelation { background-position: -1950px -1298px; }
    .icon-energy-infusion { background-position: -1495px -1363px; }
    .icon-null-profusion { background-position: -1625px -908px; }
    .icon-null-infusion { background-position: -1670px -2208px; }
    .icon-iron-stance { background-position: -260px -1103px; }
    .icon-chilling-aura { background-position: -1950px -1038px; }

