.icon-class-acolyte { background-position: -1935px 0; }
    .icon-blood-aura { background-position: -1885px -1428px; }
    .icon-forbidden-knowledge { background-position: -2210px -1168px; }
    .icon-stolen-vitality { background-position: 0 -908px; }
    
.icon-class-warlock { background-position: -1161px 0; }
    .icon-spiteful-decay { background-position: -1235px -1623px; }
    .icon-occultists-mind { background-position: 0 -973px; }
    .icon-vile-tide { background-position: -455px -843px; }
    .icon-spirit-leech { background-position: -1495px -973px; }

.icon-class-lich { background-position: -645px 0; }
    .icon-apocrypha { background-position: -1170px -1168px; }
    .icon-survival-of-the-cruel { background-position: -195px -1298px; }
    .icon-lasting-stench { background-position: -910px -1688px; }
    .icon-deathbringer { background-position: -1365px -1753px; }
    .icon-desolation { background-position: -845px -908px; }

.icon-rip-blood { background-position: -1495px -258px; }
    .icon-arcane-absorption { background-position: -1105px -1623px; }
    .icon-hemomancer { background-position: -585px -1363px; }

.icon-wandering-spirits { background-position: -1942px -1818px; }
    .icon-souls-of-rage { background-position: -1625px -453px; }
    .icon-poisoned-minds { background-position: -1950px -518px; }
    .icon-spectral-putrescence { background-position: -1625px -1493px; }
    .icon-spirit-swarm { background-position: -1105px -518px; }
    .icon-lingering-souls { background-position: -1950px -1168px; }
    .icon-thin-veil { background-position: 0 -908px; }
    .icon-medium { background-position: -910px -908px; }
    .icon-eternal-haunt { background-position: -1365px -1038px; }

.icon-reaper-form { background-position: -1170px -1493px; }
    .icon-soul-for-a-soul { background-position: -344px -2013px; }
    .icon-reapers-curse { background-position: -2034px -2013px; }
    .icon-death-comes-quickly { background-position: -1885px -1493px; }
    .icon-rapid-destruction { background-position: -1430px -323px; }
    .icon-mistress-of-decay { background-position: -2190px -2078px; }
    .icon-swift-harbinger { background-position: -640px -2208px; }

.icon-spirit-plague { background-position: -2080px -1298px; }
    .icon-efficacious-application { background-position: -975px -1038px; }
    .icon-toxic-transmission { background-position: -715px -1493px; }
    .icon-pestilence { background-position: -2034px -2013px; }
    .icon-rotten-to-the-core { background-position: -1430px -1233px; }
    .icon-concentrated-rot { background-position: -1170px -1038px; }
    .icon-perpetuity { background-position: -1365px -258px; }

.icon-aura-of-decay { background-position: -455px -843px; }
    .icon-absence-of-life { background-position: -2015px -713px; }
    .icon-plague-rat { background-position: -1040px -973px; }
    .icon-respite { background-position: -2145px -908px; }
    .icon-inoculation { background-position: -975px -1493px; }
    .icon-vulnerability { background-position: -260px -1363px; }
    .icon-poison-bolt { background-position: -1950px -518px; }
    .icon-poison-barrage { background-position: -1820px -843px; }

.icon-death-seal { background-position: -910px -908px; }
    .icon-corrupted-consciousness { background-position: -1950px -1623px; }
    .icon-desperate-shroud { background-position: -975px -1428px; }
    .icon-deadlock { background-position: -585px -258px; }
    .icon-moratorium { background-position: -1560px -2143px; }
    .icon-pustulent-presence { background-position: -715px -1493px; }
    .icon-mortal-pulse { background-position: -1235px -843px; }
    .icon-tachycardia { background-position: -520px -1688px; }

